/* Write your CSS here */
.planet-image {
  height: 300px;
  width: 280px;
  background-color: #000;
}

.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1fafc;
  padding: 60px;
}
